/* ==================== SHARED STYLES ==================== */
html {
    background-image: url("../images/lake-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(158, 186, 202);
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#container > a:link, #container > a:visited {color: black;}
#container > a:hover {color: aqua;}

/* ========== Camp Smart header ========== */
#header{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}
#header h1{
    display: inline-flex;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 3px 5px 6px rgba(255, 255, 255, 0.5);
}
#header .logo{
    display: inline-flex;
    width: 230px;
    height: 150px;
    padding-right: 40px;
    padding-bottom: 10px;
}



/* ==================== LANDING PAGE ==================== */
#map {
    height: 300px;
    width: 300px;
}
#error{
    display: none;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    margin: 10px;
    color: darkred;
    font-weight: bold;
}
#forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px;
    border-radius: 25px;
    margin-top: -30px;
    background: rgba(255, 255, 255, 0.6);
}
#forms #locationInput h3, #forms #dateInput h3{
    font-size: 20px;
    text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.9);
}
#forms #locationInput label, #forms #dateInput label{
    font-size: 16px;
}
#location {
    font-size: 10pt;
    width: 260px;
    height: 15px;
}
#submitButton{
    align-self: center;
}
.find-me-button {
    width: 5px;
    height: 5px;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
#find-me-icon {
    font-size: 13px;
    vertical-align: bottom;
    border: 0.5px solid rgb(0, 102, 204);
    border-radius: 50%;
    padding: 2.4px;
}
#icon-calendar {
    border: 1px solid rgb(183, 183, 183);
    padding: 2.8px;
    background-color: rgb(255, 255, 255);
    outline: 0.2px solid rgb(112, 112, 112);
    align-content: flex-end;
    vertical-align: middle;
    margin-top: -2.5px;
    margin-right: -5px;
}
#icon-search {
    border: .9px solid rgb(183, 183, 183);
    padding: 1.8px;
    background-color: rgb(255, 255, 255);
    outline: 0.2px solid rgb(112, 112, 112);
    align-content: flex-end;
    vertical-align: middle;
    margin-top: -2.5px;
    margin-right: -4px;
}



/* ==================== RESULTS PAGE ==================== */
#loading {
    display: none;
    text-align: center;
    margin: 2%;
    padding: 3%;
    border-radius: 5%;
    background: rgba(255, 255, 255, 0.55);
}
#results {
    display: none;
    grid-template-columns: 15% 70% 15%
}
#results > div{
    margin: 2%;
    padding: 3%;
    border-radius: 5%;
    background: rgba(255, 255, 255, 0.75);
}
#campsiteList, #weatherForecast {
    height: 600px;
    overflow: scroll;
}
/* These borders are just so we can see where divs are - remove later? */
/*#results div {
    border: inset;
    border-width: 2px;
    border-color: gainsboro;
    border-radius: 5%;
}*/

#campsiteButton {
    /* Campsite button */
    height: 80px;
    width: 200px;
    padding: 10px;
    opacity: 0.7;
    background-color: white;
    border-radius: 5px;
}

/* ========== Left-side campsite preview list ========== */
#campsiteList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* ===== Each campsite preview display */
#campsiteList div{
    margin: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 5%;

    border: inset;
    border-width: 2px;
    border-color: gainsboro;
}
#campsiteList h1 {font-size: 20px;}
#campsiteList h2 {font-size: 16px;}
#campsiteList .photo {width: 150px;}


/* ========== Center display with individual campsite info ========== */
#campsiteDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 540px;
    overflow: scroll;
}

/* ===== Each sub-section in center display */
#campsiteDetails > div {
/* with flex:*/
/*    display: flex;*/
    /*flex-direction: column;
    justify-content: flex-start;
    align-items: center;*/

/* without flex: */
    display: block;
    text-align: center;


    padding: 3%;
    margin: 1%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.25);

    border: inset;
    border-width: 2px;
    border-color: gainsboro;
}
#campsiteDetails h1 {font-size: 28px;}
#campsiteDetails h2 {font-size: 24px;}
#campsiteDetails h3 {font-size: 20px;}
#campsiteDetails p  {font-size: 16px;}

/* ===== Campsite overview sub-section */
#campsiteDetails #overview .photo {width: 500px;}

/* ===== Campsite amenities sub-section */
#campsiteDetails #amenities div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#campsiteDetails #amenities i {font-size: 30px; margin: 5px;}
#campsiteDetails #amenities .available {color: darkgreen;}
#campsiteDetails #amenities .unavailable {color: darkred;}

/* ===== Campsite directions sub-section */
#campsiteDetails #directions #map {width: 300px;}
#campsiteDetails #directions {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ===== Campsite alerts sub-section */
#campsiteDetails #alerts div {display: flex; flex-direction: row; align-items: center; justify-content: center;}
#campsiteDetails #alerts h2, #campsiteDetails #alerts i {color: red;}


/* ========== Right-side weather forecast ========== */
#weatherForecast{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ===== Forecast for each day */
#weatherForecast > div{
    margin: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 5%;

    border: inset;
    border-width: 2px;
    border-color: gainsboro;
}

/* Div containing weather details */
#weatherForecast > div > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 6em;
}
#weatherForecast h1 {font-size: 20px;}
#weatherForecast h2 {font-size: 16px;}
#weatherForecast i {font-size: 30px;}
